.RinContent {
  margin-top: 50px;
  width: 1284px;
  display: flex;
  justify-content: center;
}

/** Helper class to center content **/
.content--center {
  display: flex;
  justify-content: center;
}
